<div class="col-10 offset-1 about">
    <h1>About Splurty</h1>

        <p>
        Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Marco</a> & <a target="_blank"         
        href="http://github.com/KenMazaika">Ken</a>. Two web developers who are on a mission to give people the 
        technical skills needed to launch their own MVPs and turn ideas into reality.
        </p>
        <br />
        <p>
        Together they taught hundreds of students how to code and build products people want at places like Harvard Business         
        School, Carnegie Mellon, Babson, Rhode Island School of Design, Brown University, Punohou High School and ‘Iolani High 
        School.
        </p>
        <p>
        If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
        </p>
        
        <div class="row">
            <div class="col-12 col-sm-4">
            <!--col-12: Element that takes up to 12/12ths, or the full widht, if there isn't a lot of screen size-->
            <!--col-sm-4: (col-breakpoint-#col) Element that takes up to 4/12ths, or about a third of the page, if we have more space available than on typical smartphone-->
            <!--The approach followed is mobile-first, we first design for the smallest screen by defining the smallest case with col-*(no extra letters)-->
            <!--In the next step, we define the next screen with sm (sm will take over as soon as the size of the browser window is big enough-->
            
                <%= image_tag 'Marco.png', class: 'img-fluid' %>
            </div>

            <div class="col-12 col-sm-7 offset-sm-1">
                <h2 class="text-center">Marco Morawec</h2>
                <br />
                <p>
                    Marco Morawec..
                <p>
            </div>
        </div>
        <br class="clear" />
        
        <div class="row">
            <div class="col-12 col-sm-4" style="padding-top:30px">
                <%= image_tag 'Ken.png', class: 'img-fluid' %>
            </div>
            <div class="col-12 col-sm-7 offset-sm-1">
                <h2 class="text-center">Ken Mazaika</h2>
                <br />
                <p>
                   Ken Mazaica...
                </p>
            </div>
        </div>
    <br class="clear" />
    <br />
    <br />
    <br />
    <br />

</div>
